# General-purpose garbage
out/
*.nfs*

# SSH garbage
sftp-config.json
*DS_Store*
._*

# PyCharm garbage
.idea/

# Python garbage
Untitled.ipynb
*.pyc
*.sav
*.npy
*.npz
notebooks/.ipynb_checkpoints/
venv/
