Jinja2==2.7.2
MDSplus==alpha-7.0-26
MarkupSafe==0.23
MitDevices==0.3
PIL==1.1.7
Pmw==1.3.2
PyMySQL==0.6.2
PyOpenGL==3.1.0
PyPDF2==1.20
Pygments==1.5
Sphinx==1.2.2
VTK==5.10.1
apptools==4.2.1
backports.ssl-match-hostname==3.4.0.2
blockcanvas==4.0.3
chaco==4.4.1
cmod==1.0
codetools==4.2.0
configobj==5.0.5
ctypes==1.0.2
docutils==0.9.1
docutils-ext==0.2d
emcee==2.1.0
enable==4.4.1
encore==0.5.1
envisage==4.4.0
eqtools==1.1
ets==4.4.2
etsdevtools==4.0.2
etsproxy==0.1.2
graphcanvas==4.0.2
hgapi==1.7.1
ipython==2.1.0
matplotlib==1.3.1
mayavi==4.3.1
mock==1.0.1
netCDF4==1.0.8
nose==1.3.0
numpy==1.8.1
ordereddict==1.1
osa==0.1.6.6
pandas==0.14.0
parsedatetime==0.8.6
patsy==0.2.1
pdfrw==0.1
ping==0.2
pyPmds==1.0.1
pyface==4.4.0
pymssql==2.1.0
pyodbc==2.1.8
pyparsing==2.0.2
python-dateutil==2.2
python-ldap==2.3.11
python-swiftclient==1.1.1.5.b0aaa3a
pytz==2014.3
pyzmq==14.3.0
reportlab==2.5
requests==2.7.0
rst2pdf==0.92
scikit-learn==0.14.1
scimath==4.1.2
scipy==0.15.1
six==1.6.1
spectrum==0.1
spyder==2.2.5
statsmodels==0.5.0
tornado==3.2.1
traits==4.5.0
traitsui==4.4.0
virtualenv==12.1.1
wsgiref==0.1.2
wxPython==3.0.0.0
wxPython-common==3.0.0.0
yappi==0.94
